{{#extends "base"}}

{{#block "content"}}
<form methos="POST">
    <div class="alert alert-danger">
         Are you sure you want delete the {{foodSighting.description}} on {{foodSighting.datetime}}? 
    </div>
    <input type="submit" value="OK" class="btn btn-danger">
    <a href="/sighting" class="btn btn-success">Cancel</a>
</form>

{{/block}}

{{/extends}}